body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  font-size: 1rem;
  transition: color 0.1s ease;
  cursor: default;
}

.link:hover,
.link:active {
  color: #50adeb;
  font-weight: bold;
}
